@charset "UTF-8";

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
}

@font-face {
  font-family: "HGSoftGGothicssi";
  font-style: normal;
  font-weight: 100;
  src: url(..../font/HGSoftGGothicssi-00g.woff2) format("woff2"),
    url(../font/HGSoftGGothicssi-00g.woff) format("woff"),
    url(../font/HGSoftGGothicssi-00g.otf) format("opentype");
}

@font-face {
  font-family: "HGSoftGGothicssi";
  font-style: normal;
  font-weight: 200;
  src: url(../font/HGSoftGGothicssi-20g.woff2) format("woff2"),
    url(../font/HGSoftGGothicssi-20g.woff) format("woff"),
    url(../font/HGSoftGGothicssi-20g.otf) format("opentype");
}

@font-face {
  font-family: "HGSoftGGothicssi";
  font-style: normal;
  font-weight: 400;
  src: url(../font/HGSoftGGothicssi-40g.woff2) format("woff2"),
    url(../font/HGSoftGGothicssi-40g.woff) format("woff"),
    url(../font/HGSoftGGothicssi-40g.otf) format("opentype");
}

@font-face {
  font-family: "HGSoftGGothicssi";
  font-style: normal;
  font-weight: 600;
  src: url(../font/HGSoftGGothicssi-60g.woff2) format("woff2"),
    url(../font/HGSoftGGothicssi-60g.woff) format("woff"),
    url(../font/HGSoftGGothicssi-60g.otf) format("opentype");
}

@font-face {
  font-family: "HGSoftGGothicssi";
  font-style: normal;
  font-weight: 800;
  src: url(../font/HGSoftGGothicssi-80g.woff2) format("woff2"),
    url(../font/HGSoftGGothicssi-80g.woff) format("woff"),
    url(../font/HGSoftGGothicssi-80g.otf) format("opentype");
}

@font-face {
  font-family: "HGSoftGGothicssi";
  font-style: normal;
  font-weight: 900;
  src: url(../font/HGSoftGGothicssi-90g.woff2) format("woff2"),
    url(../font/HGSoftGGothicssi-90g.woff) format("woff"),
    url(../font/HGSoftGGothicssi-90g.otf) format("opentype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: url(../font/Gotham-Bold.woff2) format("woff2"),
    url(../font/Gotham-Bold.woff) format("woff"),
    url(../font/Gotham-Bold.otf) format("opentype");
}
