@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css);

html,
body .wrapper {
  font-family: "Pretendard", sans-serif !important;
}

.full-img-box {
  width: 100%;
}
.full-img-box img {
  width: 100%;
}
