@charset "UTF-8";
/* 
*
* TYPOGRAPHY
*
*/
html,
body,
.wrapper {
  font-family: "Pretendard", sans-serif !important;
  font-size: 10px; /*1rem: 10px*/
}
.wrapper .GGothic {
  font-family: "HGSoftGGothicssi", sans-serif !important;
}
.font-semiBold {
  font-weight: 600 !important;
}
.font-bold {
  font-weight: 800 !important;
}
.font-extraBold {
  font-weight: 900 !important;
}
.h2 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 7rem !important;
  line-height: 0.6;
  color: #111;
}
.section-desc {
  font-size: 2rem;
  color: #6a6a6a;
}
.section-caption {
  font-size: 13px;
}
.text-gray-01 {
  color: #111111 !important;
}
.text-blue-02 {
  color: #304ffb !important;
}
.text-blue-03 {
  color: #5980f9 !important;
}
.text-blue-04 {
  color: #8fb5ff !important;
}
.text-blue-04-variation {
  color: #98c1ff !important;
}
.text-blue-etc {
  color: #2285fa !important;
}
.text-indigo {
  color: #9aa9ff !important;
}
.text-white {
  color: #fff;
}
.text-gray {
  color: #b9b9b9 !important;
}
.text-yellow {
  color: #ffed8f !important;
}
.index {
  margin-bottom: 15px;
}
/* 
*
* COMMON
*
*/

.full-img-box {
  width: 100%;
}
.full-img-box img {
  width: 100%;
  vertical-align: bottom;
}

/* article 1 style */
.main-notice {
  width: 100%;
  padding: 10px 0;
  background: #0e1222;
}

.main-notice p {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}
/* article 2 style */
/* article 3 style */
.text-highlight {
  background: url(/img/marker_line.svg) no-repeat 50% 120%;
  background-size: 110%;
}
/* article 4 style */
/* article 5 style */
