@charset "UTF-8";
/* typo setting */
html,
body,
.wrapper {
  font-family: "Pretendard", sans-serif !important;
}
.wrapper .GGothic {
  font-family: "HGSoftGGothicssi", sans-serif !important;
}

.size-10 {
  font-size: 10px !important;
}

.size-12 {
  font-size: 12px !important;
}

.size-18 {
  font-size: 18px !important;
}

/*  */
.full-img-box {
  width: 100%;
}
.full-img-box img {
  width: 100%;
}
